@model List<Final_Bootstrap.Models.Date>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/ListMenu.css" type="text/css" media="all">
</head>


<body id="page1">

    <div class="body1">
        <div class="body2">
            <div class="body3">
                <div class="main">
                    <!-- header -->
                    <header>
                        <div class="wrapper">
                            <h1><a href="/Home/Index" id="logo"></a></h1>
                            <form id="search" method="post">
                                <div>
                                    <input type="submit" class="submit" value="">
                                    <input class="input" type="text" value="Site Search" onblur="if(this.value=='') this.value='Site Search'" onfocus="if(this.value =='Site Search' ) this.value=''">
                                </div>
                            </form>
                            <nav>
                                <br />
                                <ul id="menu">
                                    <li class="active"><a href="/Administrator/Index">Home</a></li>
                                    <li><a href="/Administrator/Profile">Profile</a></li>
                                    <li><a href="/Administrator/FeedBack">Feedback</a></li>
                                    <li class="end"><a href="/Administrator/Logout">Logout</a></li>
                                </ul>
                            </nav>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>

    <div class="body1">
        <div class="main">

            <section id="content">
                <ul class="menu cf">
                    <li>
                        <a href="/Teacher/MarkAttendance">Mark Attendance</a>
                    </li>
                    <li>
                        <a href="/Teacher/ViewAttendance">View Attendance</a>
                    </li>
                </ul>
                <br />
                <br />
                <br />

                <table style="border:5px solid">
                    <tr style="border:3px solid">
                        <td width ="200" style="border:1px solid">ID</td>
                        <td width ="200" style="border:1px solid">Name</td>
                        @for (int i = 0; i < ViewBag.day.Count; i++)
                        {
                            <td width ="50" style="border:1px solid">@ViewBag.day[i]</td>
                        }
                        
                    </tr>
                    @for (int i = 0; i < ViewBag.stdcount; i++)
                    {
                        <tr>
                            <td style="border:1px solid">
                                @Model[i].Student.RollNo
                            </td>
                            <td style="border:1px solid">
                                @Model[i].Student.Name
                            </td>
                            @foreach (var x in Model[i].Student.Dates)
                            {
                                <td style="border:1px solid">
                                    @x.Present
                                </td>
                            }
                        </tr>
                    }
                </table>

                <table id="attendance"></table>

                <table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </table>

            </section>
        </div>
    </div>
    <div class="body4">
        <div class="main">
            <section id="content2">
                <div class="line2 wrapper">
                    <div class="wrapper">
                        <article class="col1">
                            <h2>Intro and Purpose</h2>
                            <div class="wrapper">
                                <figure class="left marg_right1">
                                    <img src="~/Images/page1_img2.jpg" alt="">
                                </figure>
                                <p>
                                    It is a Portal developed for daily student attendance in Educational institutes.
                                    The information is sorted by the operators, which will be provided by the teacher for a particular class.
                                    This system will also help in evaluating attendance eligibility criteria of a student.
                                </p>
                            </div>
                            <div class="pad">
                                <p>
                                    The purpose of developing attendance management system is to computerized the tradition way of taking attendance.
                                    Another purpose for developing this portal is to generate the report automatically at the end of the session or in the between of the session
                                </p>
                            </div>
                        </article>
                        <article class="col3 pad_left1">
                            <div class="pad">
                                <div class="wrapper">
                                    <span class="date"><span>12</span>jun</span>
                                    <p>
                                    </p>
                                </div>
                                <div class="wrapper">
                                    <span class="date"><span>23</span>jun</span>
                                    <p>

                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="wrapper buttons">
                        <article class="col1">
                            <a href="/Home/DownloadFile2" class="button">Read More</a>
                        </article>
                        <article class="col3 pad_left1">
                            <a href="#" class="button">Read More</a>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- / content -->


</body>
</html>
